img{
    border-radius: 50%;
}
.card{
    background-color: transparent;
    /* height: 50%; */
    
}
.card2{
background-color: transparent;
border: .1rem solid mediumseagreen;
}
.body2{
    background-color: transparent;
/* border: .1rem solid mediumseagreen; */
}
.list-group-item{
    background-color: transparent;
    border: .1rem solid mediumseagreen;
}

/* search button style */
.search-bar{
    width: 100%;
    max-width: 350px;
    background: rgba(255,255,255,0.2);
    border-radius: 60px;
    padding:10px 20px;
    backdrop-filter: blur(3px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    /* padding: 1px 1px; */
    font-size: 18px;
    color:whitesmoke;
}
::-webkit-input-placeholder{
    color: aliceblue;
    opacity: .5;
}
.search-bar button i{
width: 25px;

}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background:rgb(77, 119, 77);
    cursor: pointer;
}